@font-face {
  font-family: 'Quicksand-LightItalic';
  src: url('../fontsQuicksand-LightItalic.otf');
}

@font-face {
  font-family: 'Quicksand-BoldItalic';
  src: url('../fontsQuicksand-BoldItalic.otf');
}

body {
  line-height: 17px;
  background-color: #E6EAE8;
}

.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 40px;
  background-color: #2980b9;
  border-bottom: 0.25em solid #34db50;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.logo a{
  font-family: 'Quicksand-BoldItalic', sans-serif;
  margin-left: 10px;
  font-size: 30;
  position: relative;
  top: 9px;
  text-shadow: #000000 0.5px 0.5px 0px;
  color: white;
}

a:hover {
  text-decoration: none;
}

nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover{
  border-bottom: 7px solid #e67e22;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #D3D3D3;
  z-index: -1;
}

.user_details {
  width: 300px;
  float: left;
  margin-bottom: 20px;
}

.user_details_left_right {
  width: 125px;
  display: inline-block;
  position: absolute;
}

.user_details img {
  height: 125px;
  border-radius: 5px;
  margin-right: 5px; 
}

.main_column {
  float: right;
  width: 70%;
  z-index: -1;
  min-height: 160px;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 81%;
  height: 60px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #D3D3D3;
  font-size: 12px;
  padding: 5px;
}

textarea:focus {
  outline: 0;
}

.post_form input[type="submit"] {
  width: 11%;
  height: 60px;
  border: none;
  border-radius: 3px;
  background-color: #45aaf2;
  font-family: 'Quicksand-BoldItalic', sans-serif;
  color: #1E75CA;
  text-shadow: #000000 0.5px 0.5px 0px;
  font-size: 90%;
  position: absolute;
  outline: 0;
  margin: 0;
}

.post_form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
  /*color: red;*/
}
